@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Stoke:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
}

/* Header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e3e3;
    box-shadow: 0 5px 15px rgb(0,0,0,0.6);
    position: sticky ;
    top: 0;
    left: 0;
    height: 76px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
   position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;   
    transition:  0.3s ease;
}

#navbar li a:hover{
    
    color: #056687;
    transition: transform 0.25s ease-out ;
}
#navbar li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    bottom: -4px;
    position: absolute;
    left: 0px;
    background: #056687;
    animation: underlineit 0.3s ease-in-out ;
    
}

@keyframes underlineit{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

button {
    padding: 9px 25px;
    background-color: #20dbc2;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}
button:hover{
    background-color: lightseagreen;
}

/* Main */

#main{
    background-image: url(image/bmi/bmiright.svg);
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    background-position: top 20% right 10% ;
    padding:  40px 60px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#main #title{
    font-size: 3rem;
    font-family: 'Stoke', serif;
    color:#0334e2;
    text-shadow: 2px 2px 2px rgba(42, 224, 231, 0.3);
}
#def{
    margin-top: 10px;
    width: 40%;
    min-width: 400px;
}

.calculator{
    border: 1px solid #e3e3e3;
    border-radius: 5%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    min-width: 400px;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0px;
    background-color: #fafafa;
}

.input label{
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.input input{
    border: none;
    outline: none;
    /* likhte time jo box bnta hai i.e. outline */
    border-bottom: 1px solid #0334e2;
    width: 60%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fafafa;
}

button#calculate{
    padding: 5px 15px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #9cff4c;
    color: #0334e2;
    transition: 0.2s ease;
    margin: 15px 0px;
}

button#calculate:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgb(129, 236, 253);
}